<%- include('../layouts/layout-start', {title: title}) %>
<%- include('../layouts/menu') %>

<section class="title">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-3 mt-4"><%= title %></h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title"><%= book.title %></h5>
                        <p class="card-text"><%= book.description %></p>
                        <p class="card-text"><%= book.authors %></p>
                        <p class="card-text"><%= book.favorite %></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <ul id="messages"></ul>
                <form id="form" action="">
                  <input id="input" autocomplete="off" /><button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    const messages = document.getElementById('messages');
    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const roomName = location.pathname.split('/').pop();
    const socket = io.connect('/', {query: `roomName=${roomName}`});

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if(input.value){
            socket.emit('book-message', input.value);
            input.value = '';
        }
    });
    
    socket.on('book-message', function(msg) {
        const item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });


</script>


<%- include('../layouts/layout-end') %>